
#debes usar una variable de entorno para la direccion de la base de datos
#lee la documentacion de la imagen calderonperaza/dbversusapp
#esto es para produccion dockerizado
#para correr ejecuta
#docker-compose up -d
version: '3.1'
services:
  appversus:
    image: calderonperaza/dbversusapp:1.0
    container_name: appversus
    restart: unless-stopped    
    ports:
      - "3000:3000"
    environment:
      - HOST_DB=firebird
    # depends_on:
    #   scylla:
    #     condition: service_healthy
    deploy:
          resources:
            limits:
              cpus: '1'
              memory: 1G
            reservations:
              cpus: '1'
              memory: 1G
#SI LA BASE DE DATOS ES MYSQL
  # mysql:
  #   image: mysql:8.0-debian
  #   container_name: mysql
  #   restart: unless-stopped
  #   environment:
  #     MYSQL_ALLOW_EMPTY_PASSWORD: "yes"      
  #     MYSQL_DATABASE: cafeteria      
  #   ports:
  #     - "3306:3306"
  #   volumes:
  #     - ../mysql/cafeteria.sql:/docker-entrypoint-initdb.d/cafeteria.sql
  #   deploy:
  #         resources:
  #           limits:
  #             cpus: '1'
  #             memory: 1G
  #           reservations:
  #             cpus: '1'
  #             memory: 1G
  #SI LA BASE DE DATOS ES MONGODB
  # mongodb:
  #   image: mongo:6.0
  #   container_name: mongo
  #   restart: unless-stopped
  #   environment:
  #     MONGO_INITDB_DATABASE: cafeteria
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - ../mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '1'
  #         memory: 1G
  #       reservations:
  #         cpus: '1'
  #         memory: 1G
# #SI LA BASE DE DATOS ES SCYLLADB
#   scylla:
#     image: scylladb/scylla:latest
#     container_name: scylla_container
#     restart: unless-stopped
#     ports:
#       - "9042:9042"
#     command: --smp 1 --memory 500M --developer-mode 1
#     healthcheck:
#       test: ["CMD-SHELL", "nodetool status || exit 1"]
#       interval: 30s
#       timeout: 10s
#       retries: 5
#       start_period: 30s
#     environment:
#       - SCYLLA_DEVELOPER_MODE=1
#     deploy:
#       resources:
#         limits:
#           cpus: '1'
#           memory: 1G
#         reservations:
#           cpus: '1'
#           memory: 1G
#     networks:
#       - scylla-net
#     volumes:
#       - scylla_data:/var/lib/scylla

# networks:
#   scylla-net:
#     driver: bridge

# volumes:
#   scylla_data:
# #SI LA BASE ES RETHINKDB
  # rethinkdb:
  #   image: rethinkdb:2.4
  #   container_name: rethinkdb
  #   restart: unless-stopped
  #   ports:
  #     - "8080:8080"
  #     - "28015:28015"
  #     - "29015:29015"

  # initdb:
  #   build: ../RethinkDB/initdb
  #   depends_on:
  #     - rethinkdb
# SI LA BASE ES MARIADB
 # mariadb:
 #   image: mariadb:latest
 #   container_name: mariadb
 #   restart: unless-stopped
 #   environment:
 #     MYSQL_ROOT_PASSWORD: 'root'    
 #     MMYSQL_USER: 'admin'
 #     MYSQL_PASSWORD: 'admin'
 #     MYSQL_DATABASE: 'cafeteria'     
 #   ports:
 #     - "3306:3306"
 #   volumes:
 #     - ../mariadb/cafeteria.sql:/docker-entrypoint-initdb.d/cafeteria.sql
 #   deploy:
 #         resources:
 #           limits:
 #             cpus: '1'
 #             memory: 1G
 #           reservations:
 #             cpus: '1'
 #             memory: 1G 

# #SI LA BASE ES FIREBIRD
  firebird:
    image: firebirdsql/firebird:latest
    container_name: firebird
    restart: unless-stopped
    environment:
      - FIREBIRD_DATABASE=cafeteria.fdb
      - FIREBIRD_USER=SYSDBA
      - FIREBIRD_PASSWORD=masterkey
    ports:
      - "3050:3050"  # Puerto predeterminado de Firebird
    volumes:
      - ../firebird/cafeteria.fdb:/firebird/data/cafeteria.fdb:Z  # Archivo de base de datos
      - ../firebird/cafeteria.sql:/docker-entrypoint-initdb.d/cafeteria.sql:Z  # Script de inicialización
      - ../firebird/firebird.conf:/opt/firebird/firebird.conf:Z  # Montar el archivo de configuración personalizado
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '1'
          memory: 1G